<h1>Admin::Dashboard#show</h1>
<article>

</article>

<%# PostsController < ApplicationController
   http_basic_authenticate_with name: ENV_Username, password: ENV_password, except: :index

   def index
     render plain: "Everyone can see me!"
   end

   def edit
     render plain: "I'm only accessible if you know the password"
   end
end  %>